table td {
    width: 32px;
    height:32px;
    padding: 0;
    margin: 0;
    border: 0px solid darkgray;
    position:relative;
}
table span {
    display:block;
    background-color: #ccc;
    color: fff;
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 0;
}

table{
    border: 1px solid black;
    border-spacing: 0px
}

table #assets{
    border: 1px solid black;
    border-spacing: 1px
}

#assets td {
    border: 1px solid darkgray;
}

#assetsContainer, #assets{
    margin: 10px auto;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100px;

}

#filter{
    margin: 10px auto;
    text-align: center;
    margin: 0 auto
}

.dragItem{
    background-position: center;
    background-size: cover;
    height: 32px;
    width: 32px;
    position: absolute;
  top: 0;
  left: 0;
}

#editorGrid{
    margin: 0 auto;
    text-align: center
}

nav{
    margin: 10px auto;
    margin-top: 50px;
    text-align: center
}
