table td {
    width: 32px;
    height:32px;
        padding: 0;
    margin: 0;
    border: 1px solid darkgray;
}
table span {
    display:block;
    background-color: #ccc;
    color: fff;
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 0;
}

table{
    border: 1px solid black;
}

#assetsContainer, #assets{
    margin: 10px auto;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100px;

}

#filter{
    margin: 10px auto;
    text-align: center;
    margin: 0 auto
}

.dragItem{
    background-position: center;
    background-size: cover;
    height: 32px;
    width: 32px;
}

#editorGrid{
    margin: 0 auto;
    text-align: center
}

nav{
    margin: 10px auto;
    margin-top: 50px;
    text-align: center
}
